.nav {
  display        : flex;
  flex-direction : row;
  justify-content: space-around;
  height: 100px;
  align-content: center;
box-shadow: 0px 0px 37px 11px rgba(0, 0, 0, 0.1);}

.link {
  color          : rgb(102, 88, 119);
  text-decoration: none;
  text-transform : uppercase;
  font-weight    : bold
}